.no-scroll {
  --overflow: hidden;
}
.center-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (orientation: portrait) {
  .center-content {
    font-size: 16rem;
  }
}
@media (orientation: landscape) {
  .center-content {
    font-size: 9rem;
  }
}
